<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <a href="/">Back to main page</a>
    <title>Счет</title>
</head>
<style>
   table {
    width: 100%;
    background: white;
    color: black;
    border-spacing: 1px;
   }
   td, th {
    background: #F7BE81;
    padding: 10px;
   }
</style>
<body>
<table border="1">
<caption>Изменения счета в течение трех месяцев</caption>
   <tr>
    <th>March</th><td>+100.00$</td><td>-30.00$</td><td>-7.00$</td><th>Total</th><td>2000.40$</td></tr>
    <tr><th>April</th><td>-50.00$</td><td>+100.00$</td><td>-23.50$</td><th>Total</th><td>2026.90$</td></tr>
    <tr><th>May</th><td>-500.00$</td><td>-1000.00$</td><td>-526.90$</td><th>Total</th><td>0.00$</td></tr>
  </table>
</body>
